
.contact__item, {
  margin: 0 0 3em 0;

  & a {
    display: block;
    float: left;
    color: @accent;
    padding: 1rem 2rem;
    border: 1px solid @accent;
    margin-left: -1px;
    margin-top: -1px;

    &:hover {
      color: #fff;
      background-color: @accent;
    }
  }
}

.btn {
  color: @black-60;
  padding: 1rem 2rem;
  border: 1px solid @black-60;
  cursor: pointer;

    &:hover {
    color: #fff;
    background-color: @link;
    border: 1px solid @link;
  }
}

input {
  display:block;
  font-size: 1em;
  color: #000;
  background-color: transparent;
  border: none;
  border: 1px solid @black-60;
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
  padding: .5em 0;
  margin-top: 1em;
  position: relative;
  border-radius: 0;
  outline:none;

  &::-webkit-input-placeholder {
    color: #000;
  }
}

textarea {
  display: block;
  font-size: 1em;
  color: #000;
  background-color: transparent;
  border: none;
  border: 1px solid @black-60;
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
  padding: .5em 0;
  margin-top: 1em;
  position: relative;
  border-radius: 0;
  outline:none;

  &::-webkit-input-placeholder {
    color: #000;
  }
}

