.navbar {
  &__logo a{
    border: none;

    &:hover {
      border: none;
    }
  }

  & svg {
   margin: 9px 0;
  }


  &__item ul {
    margin: 0;
    padding: 0;
  }
}


.bg {
  background-image: url(../../img/images/bg.jpg);
  background-size: cover;
  background-position: 50%;
  position: fixed;
  top: 0;
  left: 0;
  width: 44%;
  height: 100%;
  z-index: -1000;
}

article {
  color: #000;
}


.white, .white a {
  color: #fff;
}