

.nav {

  padding: 3rem 0;

  &__logo a{
    border: none;

    &:hover {
      border: none;
    }
  }

  & svg {
   margin: .5rem 0;
  }

  &__menu {

    &__item ul {
      margin: 0;
      padding: 0;
    }
  }
}



article {
  color: #000;
}


.accent, .accent a {
  color: @accent;
}

.bg {
  background-color: #fff;
}


.image {

  &__overlay {
    overflow: hidden;
    height: 70%;
  }


}


















