.navbar {
  &__logo a{
    border: none;

    &:hover {
      border: none;
    }
  }

  & svg {
   margin: 9px 0;
  }

  // &__logo {
  //   width: 100px;
  //   height: 100px;
  //   position: absolute;
  //   top: 22px;
  //   display: block;
  //   cursor: pointer;
  // }

  &__item ul {
    margin: 0;
  }
}


// .bg {
//   background-image: url(../../img/images/bg.jpg);
//   background-size: cover;
//   background-position: 50%;
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 50%;
//   height: 100%;
//   z-index: -1000;
// }
