.st0{
    fill:@white;
    cursor: pointer;
    transform: scale(1);
    transform-origin: center;
    transition: 500ms cubic-bezier(0, 0, 0.2, 1);
}
.st0:hover {
    stroke: transparent;
    transform: scale(0.9);
    transition: 500ms cubic-bezier(0, 0, 0.2, 1);
}
.st0:active {
    stroke: transparent;
    transform: scale(0.8);
    transition: 200ms cubic-bezier(0, 0, 0.2, 1);
}

.first:active {
    fill: #FFEB3B;
}

.second:active {
    fill:#f44336;
}